<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flows</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    .btn {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>Flows</h1>
  <table>
    <thead>
      <tr>
        <th>Initiator</th>  
        <th>Approver</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th> <!-- Added Actions header -->
      </tr>
    </thead>
    <tbody>
      <% @flows.each do |flow| %>
        <tr>
          <% user_initiator = User.find_by_id(flow.user_assigned_id) %>
          <td><%= user_initiator ? user_initiator.firstname : 'User not found' %></td>
          <% user_approver = User.find_by_id(flow.assigned_user_id) %>
          <td><%= user_approver ? user_approver.email : 'User not found' %></td>
          <td><%= flow.start_date %></td>
          <td><%= flow.end_date %></td>
          <td>
          
           <%= link_to 'Show', user_expense_flow_path(@user_id, @expense_id, flow.id) %>
           <%= link_to 'Edit',edit_user_expense_flow_path(@user_id, @expense_id, flow.id) %>
           <%= link_to 'Delete', user_expense_flow_path(@user_id, @expense_id, flow.id), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>

         
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
